* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cairo;
}
:root {
  --primary-color: #4d072d;
  --secondary-color: #e8d4e2;
  --third-color: #005f80;
  --fourth-color: #515151;
  --fifth-color:#fff;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: var(--secondary-color);
  padding: 0 60px;
}
nav .logo h1 {
  font-weight: 900;
  font-size: 30px;
  color: var(--primary-color);
}

nav .nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
}
nav .nav-content p {
  font-weight: 400;
  font-size: 25px;
  color: var(--fourth-color);
}
nav .nav-content span {
  color: var(--primary-color);
}

nav .nav-content select {
  font-weight: 300;
  font-size: 16px;
  padding: 8px 12px;
}
nav .nav-content select option {
  font-weight: 200;
  font-size: 14px;
}
nav .nav-content .add-todo-btn {
  font-weight: 400;
  font-size: 16px;
  border: none;
  background-color: var(--primary-color);
  color: var(--fifth-color);
  padding: 8px 12px;
}
