* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cairo;
}
:root {
  --primary-color: #4d072d;
  --secondary-color: #e8d4e2;
  --third-color: #005f80;
  --fourth-color: #515151;
  --fifth-color: #fff;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: var(--secondary-color);
  padding: 0 150px;
}
nav .logo h1 {
  font-weight: 900;
  font-size: 30px;
  color: var(--primary-color);
}

nav .nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
}
nav .nav-content p {
  font-weight: 400;
  font-size: 25px;
  color: var(--fourth-color);
}
nav .nav-content span {
  color: var(--primary-color);
}

nav .nav-content select {
  font-weight: 300;
  font-size: 16px;
  padding: 8px 12px;
}
nav .nav-content select option {
  font-weight: 200;
  font-size: 14px;
}
nav .nav-content .add-todo-btn {
  font-weight: 400;
  font-size: 16px;
  border: none;
  background-color: var(--primary-color);
  color: var(--fifth-color);
  padding: 8px 12px;
}
.cards {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 10px;
  padding: 50px 150px;
}
.cards .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  max-width: 400px;
  background-color: var(--secondary-color);
  height: fit-content;
  flex-direction: column;
  padding: 20px;
}
.cards .card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.cards .card .card-header .checkbox input {
  width: 30px;
  height: 30px;
}
.cards .card .card-header .card-title {
  font-weight: 500;
  font-size: 24px;
  color: var(--primary-color);
}
.cards .card .card-header .card-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}
.cards .card .card-header .card-btns button {
  background: none;
  border: none;
  width: fit-content;
  height: fit-content;
}
.cards .card .card-header .card-btns button img {
  width: 30px;
  height: 30px;
}
.cards .card .content p {
  font-weight: 300;
  font-size: 18px;
  color: var(--fourth-color);
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cards .card .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}
.cards .card .card-footer p {
  font-weight: 200px;
  font-size: 17px;
  color: var(--fourth-color);
}
.cards .card .card-footer button {
  padding: 5px 15px;
  background-color: var(--primary-color);
  color: var(--fifth-color);
  border: none;
}
.cards .card .card-footer button:hover {
  background-color: #af5c8a;
  color: var(--fifth-color);
}
/* Overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: #00000099;
  display: none;
  justify-content: center;
  align-items: center;
}
.addToDoModal {
  position: fixed;
  inset: 0;
  background: #00000099;
  display: none;
  justify-content: center;
  align-items: center;
}

/* Modal box */
.modal {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.modal header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;

}
.overlay .modal header h2 {
  color: var(--primary-color);
  text-align: center;
  width: 100%;
}
.addToDoModal form input,
textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}
.addToDoModal form .to-do-btns {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
}
.addToDoModal form .add-Todo-close-btn {
  background-color: var(--secondary-color);
  border: none;
  padding: 5px 10px;
  
}
.addToDoModal form .add-todo-btn {
  background-color: var(--primary-color);
  border: none;
  padding: 5px 10px;
  color: var(--fifth-color);
}
